<!DOCTYPE html>
<html>
	<!-- http://doc.vue-js.com/ -->
	<!-- https://element.faas.ele.me/#/zh-CN/component/layout -->

	<head>
		<meta http-equiv="content-type" content="text/html" charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<link rel="stylesheet" type="text/css" href="../css/register.css" />
	</head>

	<body class="">
		<div id="app">
			<header>
				<div id="banner" class="banner well ">
					<img src="../img/pin.png" class="pin pull_right">
					<div class="banner_inner">
						<div class="text_t">
							<span style="font-weight: bold;margin-left: 10px;">学艺团</span>
							<div class="vip no">&nbsp;</div>
						</div>
						<div class="text_b">让智慧之光照亮每一个家庭！</div>
					</div>
				</div>
			</header>
			<div class="space-10"></div>
			<section>
				<div class="frame well">
					<div class="frame_inner">
						<div class="title">推广大使<span class="title_span bold_name" v-text="iv_name"></span></div>
						<input id="source" name="source" type="hidden" value="User_xnst72tp4ifvexlt">

						<div class="input_row">
							<label for="name"><span class="icon icon-user"></span></label>
							<div>
								<input id="name" name="name" type="text" v-model="name" :value="name" placeholder="请填写您的姓名（必填）">
							</div>
						</div>
						<div id="name-validate-msg" class="validate_msg"></div>

						<div class="input_row">
							<label for="local-mobile"><i class="icon icon-mobile"></i></label>
							<div>
								<input id="local-mobile" name="local-mobile" type="tel" v-model="mobile" :value="mobile" maxlength="11" placeholder="请填写您的手机号码（必填）">

								<input id="mobile" name="mobile" type="hidden">
							</div>
							<div id="mobile-validate-msg" class="validate_msg"></div>
						</div>
						<div class="input_row">
							<label for="local-password"><i class="icon icon-lock"></i></label>
							<div>
								<input id="local-password" name="local-password" type="password" v-model="password" :value="password" placeholder="请设置您的登录密码（必填）">
							</div>
							<div id="mobile-validate-msg" class="validate_msg"></div>
						</div>
						<div class="input_row">
							<label for="verificationCode"><i class="icon icon-numpad"></i></label>
							<div class="pull_right" style="margin-top: 9px;">
								<el-button @click="requestCode" size="small" style="height: 30px;" round v-text="code"> </el-button>
							</div>
							<div>
								<input id="verificationCode" name="verificationCode" v-model="code_num" :value="code_num" type="tel" maxlength="6" placeholder="请输入验证码">
							</div>
						</div>
						<div id="verificationcode-validate-msg" class="validate_msg"></div>

						<div class="space-25"></div>
						<div>
							<div class="group fs_14 mb_5">
								<div class="pull_left ml_5">会员期限</div>
								<div class="pull_right mr_5">金额</div>
							</div>
							<div class="line mb_16"></div>
							<div class="group fs_18">
								<div class="orange pull_left ml_5">1年</div>
								<div class="orange pull_right mr_5">199元</div>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="space-20"></div>
						<div>
							<input id="eulaAgreed" name="eulaAgreed" type="checkbox" v-model="check" :value="check">
							<label for="eulaAgreed"><span>&nbsp;</span>同意学艺团<a class="underline" href="useagreement.html" target="_blank">服务协议</a></label>
						</div>
						<div id="submit-msg" class="validate_msg"></div>
						<div class="space-20"></div>
						<button @click="submit">立即加入</button>
					</div>
				</div>
			</section>

		</div>
	</body>
	<!-- import Vue before Element -->
	<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
	<!-- import JavaScript -->
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
	<script>
		new Vue({
			el: '#app',
			data: function() {
				return {
					code: "获取验证码",
					show: true,
					count: '',
					timer: null,
					warn: "wode",
					mobile: "",
					name: "",
					code_num: "",
					password: "",
					check: true
				}
			},
			created: function() {
				this.GetRequest();
			},
			methods: {
				submit() {
					if(this.name == "") {
						this.warnTip("请输入姓名");
					} else if(this.mobile == "") {
						this.warnTip("请输入电话号码");
					} else if(this.password == "") {
						this.warnTip("请设置密码");
					} else if(this.code_num == "") {
						this.warnTip("请输入验证码");
					} else if(!this.check) {
						this.warnTip("请同意学艺团服务协议")
					} else {
						this.toRegister();
					}
				},
				warnTip: function(tip) {
					this.$notify({
						title: '警告',
						message: tip,
						type: 'warning',
						position: 'bottom-right'
					});
				},
				errorTip: function(tip) {
					this.$notify.error({
						title: '错误',
						message: tip,
						type: 'warning',
						position: 'bottom-right'
					});
				},

				downloadapk: function() {
					this.isAndroid();
				},
				requestCode: function() {
					if(this.mobile == "") {
						this.warnTip("请输入电话号码");
						return
					}
					this.toGetCode();
				},
				toGetCode: function() {
					var self = this;
					let url = "https://www.xueyituanchina.cn/xytuan/api/user/smcode"
					axios.post(url, {
							phone: self.mobile,
							check: 1
						})
						.then(function(response) {
							console.log(response);
							if(response.data.code == "000") {
								self.getCode();
							} else if(response.data.code == "001") {
								self.errorTip(response.data.msg);
							}
						})
						.catch(function(error) {
							self.errorTip("网络出现故障");
						});
				},
				toRegister: function() {
					var self = this;
					let url = "https://www.xueyituanchina.cn/xytuan/api/user/register"
					axios.post(url, {
							phone: self.mobile,
							password: self.password,
							nick: self.name,
							smCode: self.code_num,
						})
						.then(function(response) {
							if(response.data.code == "000") {
								window.open("./download.html")
							} else if(response.data.code == "001") {
								self.errorTip(response.data.msg);
							}
						})
						.catch(function(error) {
							self.errorTip("网络出现故障");
						});
				},
				GetRequest: function() {
					var url = location.search;
					var theRequest = new Object();
					if(url.indexOf("?") != -1) {
						var str = url.substr(1);
						strs = str.split("&");
						for(var i = 0; i < strs.length; i++) {
							theRequest[strs[i].split("=")[0]] = unescape(strs[i].split("=")[1]);
						}
					}
					this.iv_id = theRequest["id"]
					this.iv_name = theRequest["name"]
					this.iv_phone = theRequest["phone"]
				},

				getCode: function() {
					const TIME_COUNT = 60;
					if(!this.timer) {
						this.count = TIME_COUNT;
						this.show = false;
						this.timer = setInterval(() => {
							if(this.count > 0 && this.count <= TIME_COUNT) {
								this.count--;
								this.code = "重新获取(" + this.count + "s)"
							} else {
								this.show = true;
								clearInterval(this.timer);
								this.timer = null;
								this.code = "获取验证码"
							}
						}, 1000)
					}
				},

				isAndroid: function() {
					var u = navigator.userAgent,
						app = navigator.appVersion;
					var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Linux') > -1; //g
					var isIOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios终端
					console.log(u)
					if(isAndroid) {
						window.open("http://xueyituan.oss-cn-beijing.aliyuncs.com/apk/app-android.apk")
					}
					if(isIOS) {
						window.open("https://itunes.apple.com/cn/app/%E5%AD%A6%E8%89%BA%E5%9B%A2/id1440920640?mt=8")
					}
				}
			}
		})
	</script>
	<style type="text/css">

	</style>

</html>